* {
    margin: 0;
    padding: 0;
    box-sizing: conntent-box;
}

body {
    font-family: 'Asap', sans-serif;
    line-height: 1.6;
    background: #531381c6;
    color: #5f303d;
}

header {
    background: #2d1840;
    color: rgb(238, 215, 11);
    box-shadow: 0 4px 20px rgba(228, 218, 218, 0.825);
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 120px;
}

nav ul li a {
    color: rgb(21, 221, 198);
    text-decoration-line: underline;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #218ec4;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 60px;
    background: rgba(165, 162, 207, 0.785);
    box-shadow: 0 10px 20px rgba(228, 218, 218, 0.825);
}

.skill-set {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.skill {
    background: #61dafb;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.skill::before {
    content: '';
    position: absolute;
    height: var(--skill-percentage);
    width: 100%;
    background: rgba(200, 100, 500, 0.2);
    bottom:500;
    left: 500;
    transition: height 0.5s ease;
}

.project {
    margin-bottom: 20px;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #f6f1f2;
    transition: color 0.3s;
}

.project-link:hover {
    color: #282c34;
}

footer {
    text-align: center;
    padding: 20px;
    background: #282c34;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #282c34;
    color: white;
}
